@import "fonts";
@import "vars";
@import "base";


* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	min-width: 320px;
	position: relative;
	line-height: 24px;
	font-size: $default_font_size;
	font-family: $default-font;
	color: $default_text_color;
	overflow-x: auto;
	opacity: 1;
}

.page-wrapper {
	background-color: $accent;
}

.h1 {
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
}
.h2 {
	font-size: 28px;
	line-height: 30px;
	font-weight: normal;
}

.header, .footer {
	padding: 55px 0;

	.contact-social-btn {
		width: 40px;
		height: 40px;
		color: #a0a1a5;
		font-size: 26px;
		margin-right: 25px;
		&:last-child {
			margin-right: 0;
		}
	}		

	.hamburger {
		padding: 0;
		
		&-container {
			text-align: right;
		}
		&-box {
			width: 20px;
		}
		&-inner {
			&, &:after, &:before {
				width: 20px;
				height: 4px;
				background-color: #000;
	
				.block-inverse & {
					background-color: #fff;
				}
			}
		}			
	}
}

.header {
	background-color: #ffffff;	
	margin-bottom: 60px;
}

.footer {
	background-color: $dark;
	color: #fff;

	.hamburger-inner {
		&, &:after, &:before {
			background-color: #fff;
		}
	}
}

.section {
	&-picture {
		margin-bottom: 60px;		
	}

	&-content {
		margin-bottom: 50px;
	}

	&-contact {
		margin-bottom: 70px;
	}
}

.block {
	background-color: #fff;
	border: 1px solid rgb(214, 214, 214);
	margin-bottom: 30px;
	padding: 40px 30px;

	&-picture {
		padding-top: 70px;
		padding-bottom: 70px;
		margin-bottom: 0;		

		p {
			margin: 30px 0 70px;
			font-size: 18px;
			line-height: 30px;
		}
	}	

	&-contact {
		h1 {
			margin-bottom: 20px;
		}

		p {
			font-size: 14px;			
			margin-bottom: 20px;
		}

		.input-block {
			margin-bottom: 20px;

			.input {
				width: 266px;
			}

			span {
				font-size: 14px;				
				color: #c0c0c0;
				font-style: italic;
			}
		}

		.textarea {
			margin-bottom: 20px;
		}
	}

	&-random {
		.h2 {
			margin-bottom: 15px;
		}

		img {
			margin-bottom: 15px;
		}

		p {
			font-size: 20px;
			font-weight: bold;
		}
	}

	&-newsletter {
		.h1 {
			margin-bottom: 10px;
		}

		.h2 {
			margin-bottom: 30px;
		}

		.input {
			width: 100%;
			margin-bottom: 20px;
			text-align: center;
		}
	}
}

.article {
	
	.p-0 {
		font-size: 14px;
		color: #989b9f;
		margin-bottom: 15px;		
	}

	.h2 {
		margin-bottom: 20px;
	}

	&-content {
		.p-1 {
			font-size: 17px;
			margin-bottom: 30px;
		}
		.p-2 {
			font-size: 14px;
			color: #636060;
		}

		&:after {
			content: '';
			display: block;
			clear: both;
		}	
	}

	&-image {
		float: left;
		margin-right: 30px;
		width: 233px;
	}
}

.side-menu {
	background-color: #fff;
	padding-bottom: 100px;
	margin-bottom: 28px;

	&-title {
		font-size: 20px;
		line-height: 24px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 30px;
	}

	&-list {
		font-size: 13px;
		line-height: 24px;

		li {
			&:before {
				font-family: fontawesome;
				content: "\f0da";
				color: rgb(194, 194, 194);
				margin-right: 10px;
			}
		}

		a {
			color: #000;
			text-decoration: none;
			margin-right: 15px;
		}

		span {
			color: #e6618c;
			text-decoration: underline;
		}

	}
}

@import "media"; // Всегда в конце
